
<div class="flex flex-col items-center justify-center mt-5 mb-10">
    <div class="card-container">
        <div class="card w-86 h-60" [ngStyle]="cardRotationStyle">
            <div class="card-face card-front">
              <div class="flex justify-between items-center w-full rounded-2xl overflow-hidden">
                <svg id="svg" viewBox="0 0 1440 490" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="100%" x2="0%"><stop offset="5%" stop-color="#00b8da"></stop><stop offset="95%" stop-color="#00c951"></stop></linearGradient></defs><path d="M 0,500 L 0,187 C 111.60000000000002,150.73333333333335 223.20000000000005,114.46666666666667 395,116 C 566.8,117.53333333333333 798.8,156.86666666666665 983,175 C 1167.2,193.13333333333335 1303.6,190.06666666666666 1440,187 L 1440,500 L 0,500 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 250)"></path></svg>
                  <div class=" w-full absolute top-0 flex justify-between items-center">
                    <div></div>
                    <div class="pr-3 pt-4">
                      <p class="text-white text-right text-[0.6rem] font-medium md:text-lg md:font-semibold">MUTUAL CIRCULO DE SUBOFICIALES DE <br> GENDARMERIA NACIONAL ARGENTINA</p>
                    </div>
                  </div>
              </div>
              <div class="flex justify-between items-center md:px-16 w-full p-2">
                  <figure class="w-1/2" >
                    <div tabindex="0" role="button" class="w-25 h-25 btn btn-ghost btn-circle avatar">
                      <div class=" rounded-full">
                        <img
                          alt="Tailwind CSS Navbar component"
                          src="/cirsub.png" />
                      </div>
                    </div>
                  </figure>
                  <div class="w-1/2">
                    <div>
                      <ul class="block text-center">
                        <li class="w-full text-center mb-2 font-semibold text-lg bg-linear-to-r from-cyan-500 to-green-500 bg-clip-text text-transparent">Marcos Lopez</li>
                        <li class="text-sm"><span class="">DNI:</span> 34824092</li>
                      </ul>

                    </div>
                  </div>
                </div>
                <div class="w-full flex justify-between items-end pr-3 pl-5 pb-3 mt-5" *ngIf="qrUrl">
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 16 16"><path fill="#0891b2" d="M7 4.75c0-.412.338-.75.75-.75h.5c.412 0 .75.338.75.75v.5c0 .412-.338.75-.75.75h-.5A.753.753 0 0 1 7 5.25zM10 12H6v-1h1V8H6V7h3v4h1z"/><path fill="#0891b2" d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m0 14.5a6.5 6.5 0 1 1 0-13a6.5 6.5 0 0 1 0 13"/></svg>
                  </div>
                  <div>
                    <p class="text-center text-[0.5rem] text-gray-500">La presente credencial digital <br>sólo es válida presentando el DNI</p>
                  </div>
                  <div class="flex">
                    <div class="mr-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#0891b2" d="M3 11h8V3H3zm2-6h4v4H5zM3 21h8v-8H3zm2-6h4v4H5zm8-12v8h8V3zm6 6h-4V5h4zm-5.99 4h2v2h-2zm2 2h2v2h-2zm-2 2h2v2h-2zm4 0h2v2h-2zm2 2h2v2h-2zm-4 0h2v2h-2zm2-6h2v2h-2zm2 2h2v2h-2z"/></svg>
                    </div>
                    <div (click)="flipCard('left')">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#0891b2" d="M12 7C6.5 7 2 9.2 2 12c0 2.2 2.9 4.1 7 4.8V20l4-4l-4-4v2.7c-3.2-.6-5-1.9-5-2.7c0-1.1 3-3 8-3s8 1.9 8 3c0 .7-1.5 1.9-4 2.5v2.1c3.5-.8 6-2.5 6-4.6c0-2.8-4.5-5-10-5"/></svg>
                  </div>
                  </div>
                </div>
            </div>

            <div class="card-face card-back ">
                <div class="flex justify-between items-center w-full rounded-2xl overflow-hidden">
                <svg id="svg" viewBox="0 0 1440 490" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="100%" x2="0%"><stop offset="5%" stop-color="#00b8da"></stop><stop offset="95%" stop-color="#00c951"></stop></linearGradient></defs><path d="M 0,500 L 0,187 C 111.60000000000002,150.73333333333335 223.20000000000005,114.46666666666667 395,116 C 566.8,117.53333333333333 798.8,156.86666666666665 983,175 C 1167.2,193.13333333333335 1303.6,190.06666666666666 1440,187 L 1440,500 L 0,500 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 250)"></path></svg>
                  <div class=" w-full absolute top-0 flex justify-between items-center">
                    <div></div>
                    <div class="pr-3 pt-4">
                      <p class="text-white text-right text-[0.6rem] font-medium md:text-lg md:font-semibold">MUTUAL CIRCULO DE SUBOFICIALES DE <br> GENDARMERIA NACIONAL ARGENTINA</p>
                    </div>
                  </div>
              </div>
              <div class="flex justify-between items-center md:px-16 w-full p-2">
                  <figure class="w-1/4" >
                    <div tabindex="0" role="button" class="w-10 h-10 btn btn-ghost btn-circle avatar">
                      <div class=" rounded-full">
                        <img
                          alt="Tailwind CSS Navbar component"
                          src="/cirsub.png" />
                      </div>
                    </div>
                  </figure>
                  <div class="w-3/4">
                    <div>
                      <ul class="flex justify-start w-full">
                        <li class="w-full  mb-2 font-semibold text-[0.7rem] bg-linear-to-r from-cyan-500 to-green-500 bg-clip-text text-transparent">Marcos Lopes</li>
                        <li class="text-[0.7rem]"><span class="">DNI:</span> 34824092</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div>
                  <router-outlet></router-outlet>
                </div>
                <div class="w-full flex justify-between items-center pr-3 pl-5 pb-3 mt-5" *ngIf="qrUrl">
                  <div class="flex justify-start space-x-2">
                    <svg routerLink="../mensajes" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#0891b2" d="M18 3a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4h-4.724l-4.762 2.857a1 1 0 0 1-1.508-.743L7 21v-2H6a4 4 0 0 1-3.995-3.8L2 15V7a4 4 0 0 1 4-4zm-6 10a1 1 0 0 0-1 1v.01a1 1 0 0 0 2 0V14a1 1 0 0 0-1-1m0-6a1 1 0 0 0-1 1v3a1 1 0 0 0 2 0V8a1 1 0 0 0-1-1"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#0891b2" d="M18 6q-.825 0-1.412-.587T16 4t.588-1.412T18 2t1.413.588T20 4t-.587 1.413T18 6m-1 16v-8q0-1-.513-1.8t-1.312-1.25l.875-2.575q.2-.625.738-1T18 7t1.213.375t.737 1L22.5 16H20v6zm-4.5-10.5q-.625 0-1.062-.437T11 10t.438-1.062T12.5 8.5t1.063.438T14 10t-.437 1.063t-1.063.437M5.5 6q-.825 0-1.412-.587T3.5 4t.588-1.412T5.5 2t1.413.588T7.5 4t-.587 1.413T5.5 6m-2 16v-7H2V9q0-.825.588-1.412T4 7h3q.825 0 1.413.588T9 9v6H7.5v7zm7.5 0v-4h-1v-4q0-.625.438-1.062T11.5 12.5h2q.625 0 1.063.438T15 14v4h-1v4z"/></svg>
                  </div>


                  <div class="flex justify-center items-center">
                    <div class="relative bg-white rounded-xl border-2 border-cyan-600 px-3 py-2">
                      <div class="absolute -top-3 left-1/2 transform -translate-x-1/2 bg-white text-cyan-600 text-xs font-semibold px-2 rounded-full z-10">
                        Servicios
                      </div>
                      <div class="flex justify-around items-center space-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#0891b2" d="M10.5 13v1.5q0 .425.288.713t.712.287h1q.425 0 .713-.288t.287-.712V13H15q.425 0 .713-.288T16 12v-1q0-.425-.288-.712T15 10h-1.5V8.5q0-.425-.288-.712T12.5 7.5h-1q-.425 0-.712.288T10.5 8.5V10H9q-.425 0-.712.288T8 11v1q0 .425.288.713T9 13zm1.5 8.9q-.175 0-.325-.025t-.3-.075Q8 20.675 6 17.637T4 11.1V6.375q0-.625.363-1.125t.937-.725l6-2.25q.35-.125.7-.125t.7.125l6 2.25q.575.225.938.725T20 6.375V11.1q0 3.5-2 6.538T12.625 21.8q-.15.05-.3.075T12 21.9"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#0891b2" d="M14 2h-4v6H4v4h6v10h4V12h6V8h-6z"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#0891b2" d="M14.005 2.003a8 8 0 0 1 3.292 15.293A8 8 0 1 1 6.711 6.71a8 8 0 0 1 7.294-4.707m-3 7h-2v1a2.5 2.5 0 0 0-.164 4.995l.164.005h2l.09.008a.5.5 0 0 1 0 .984l-.09.008h-4v2h2v1h2v-1a2.5 2.5 0 0 0 .164-4.995l-.164-.005h-2l-.09-.008a.5.5 0 0 1 0-.984l.09-.008h4v-2h-2zm3-5A6 6 0 0 0 9.52 6.016a8 8 0 0 1 8.47 8.471a6 6 0 0 0-3.986-10.484"/></svg>
                      </div>
                    </div>
                  <div class="flex ml-2">
                    <div (click)="flipCard('left')">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#0891b2" d="M12 7C6.5 7 2 9.2 2 12c0 2.2 2.9 4.1 7 4.8V20l4-4l-4-4v2.7c-3.2-.6-5-1.9-5-2.7c0-1.1 3-3 8-3s8 1.9 8 3c0 .7-1.5 1.9-4 2.5v2.1c3.5-.8 6-2.5 6-4.6c0-2.8-4.5-5-10-5"/></svg>
                    </div>
                  </div>

                  </div>

                </div>
            </div>
        </div>
    </div>
</div>
    <!-- <div class="card bg-base-100 w-2xl justify-between drop-shadow-2xl" #credencialCard>
      <div class="flex justify-between items-center  rounded-2xl">
        <svg class="static" width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#00c951"></stop><stop offset="95%" stop-color="#00b8da"></stop></linearGradient></defs><path d="M 0,400 L 0,150 C 143.32142857142856,140.17857142857144 286.6428571428571,130.35714285714286 402,132 C 517.3571428571429,133.64285714285714 604.7499999999999,146.75000000000003 707,158 C 809.2500000000001,169.24999999999997 926.3571428571429,178.64285714285714 1051,177 C 1175.642857142857,175.35714285714286 1307.8214285714284,162.67857142857144 1440,150 L 1440,400 L 0,400 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 200)"></path></svg>
        <div class=" w-full p-5 absolute top-0 flex justify-between items-center">

          <figure>
            <img class="w-25" src="/cirsub.png" alt="">
          </figure>
          <div>
            <p class="text-white text-right text-sm font-semibold">MUTUAL CIRCULO DE SUBOFICIALES DE <br> GENDARMERIA NACIONAL ARGENTINA</p>
          </div>
        </div>
      </div>
      <div class="block px-16 mb-5">
        <h2 class="font-semibold text-lg mb-2">Familiares:</h2>
      <div class="w-full mb-12">
        <ul class="flex justify-between">
          <li class="w-1/3"><span class="font-semibold">Carla Rojas</span></li>
          <li class="w-1/3"><span class="font-semibold">DNI</span>: 21569632</li>
          <li class="w-1/3"><span class="font-semibold">Parentesco:</span> Esposa</li>
        </ul>
        <ul class="flex justify-between">
          <li class="w-1/3"><span class="font-semibold">Martin Rodriguez</span></li>
          <li class="w-1/3"><span class="font-semibold">DNI</span>: 33526369</li>
          <li class="w-1/3"><span class="font-semibold">Parentesco:</span> Hijo</li>
        </ul>
        <ul class="flex justify-between">
          <li class="w-1/3"><span class="font-semibold">Noelia Rodiguez</span></li>
          <li class="w-1/3"><span class="font-semibold">DNI</span>: 25365856</li>
          <li class="w-1/3 flex items-center"><span class="font-semibold">Parentesco:</span> Hija<span class="ml-2"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><g fill="none" stroke="#059669" stroke-width="1.5"><circle cx="12" cy="12" r="10"/><path d="M14 7a2 2 0 1 1-4 0a2 2 0 0 1 4 0Z"/><path stroke-linecap="round" d="M18 10s-3.537 1.5-6 1.5S6 10 6 10m6 2v1.452m0 0a3 3 0 0 0 .476 1.623L15 19m-3-5.548a3 3 0 0 1-.476 1.623L9 19"/></g></svg></span></li>
        </ul>
      </div>
      </div>
      <div class="qr-container flex justify-between items-end px-5 pb-5" *ngIf="qrUrl">
        <p class="text-sm text-gray-500 font-base">La presente credencial solo es válida presentando el DNI</p>
      </div>
  </div> -->


<!-- <div class="flex justify-center mt-10 w-[85vw]">
  <button (click)="downloadImage()" class="btn font-semibold text-lg text-white btn-outline border-2 hover:bg-cyan-500">Descargar Credencial</button>
</div> -->






