<div class="block p-5">
  <div class="h-full flex justify-center p-5">
    <form action="" class="w-1/2 m-aut block p-5">
      <div class="block">
        <label class="font-semibold text-gray-500 text-lef mb-5t" for="">Detalle</label>
        <br>
        <input type="text" placeholder="Ingrese el detalle" class="input mb-5 mt-2 border-emerald-700" />
        </div>
    </form>
  </div>
  <div class="text-right">
    <button routerLink="responsable"  class="btn bg-cyan-700 text-white ">Siguiente</button>
  </div>
</div>


