<div class="flex justify-between items-center w-full px-2">
  <div class=" flex justify-start items-center w-3/4">
    <figure class="w-auto pr-2 pb-2">
  <div tabindex="0" role="button" class="w-24 h-24 btn btn-ghost btn-circle avatar cursor-default">
    <div class="rounded-full relative w-24 h-24 overflow-hidden flex items-center justify-center bg-gray-100">
      <!-- Spinner -->
      <ng-container *ngIf="loading(); else content">
        <div class="flex items-center justify-center w-full h-full">
          <span class="w-8 h-8 border-4 border-gray-300 border-t-[#0891B2] rounded-full animate-spin"></span>
        </div>
      </ng-container>

      <ng-template #content>
        <!-- Imagen -->
        <img *ngIf="hasImage()" [src]="imagenUrl" alt="Foto de perfil" class="w-full h-full object-cover" />

        <!-- Placeholder si no hay imagen -->
        <div *ngIf="!hasImage()" class="text-gray-400 text-xs">Sin imagen</div>
      </ng-template>
    </div>
  </div>
</figure>
    <div class="w-auto">
      <div>
        <ul class="block text-center">
          <li class="w-full text-center font-semibold text-lg bg-linear-to-r from-cyan-500 to-green-500 bg-clip-text text-transparent">{{ user()?.Persona![0].Nombre!}} {{user()?.Persona![0].Apellido}}</li>
          <li x-ms-format-detection="none"
          data-format-detection="false"
          style="text-decoration: none;" class="text-[0.9rem] font-semibold text-gray-500 no-underline"><span class=" font-semibold text-gray-500">DNI:</span> {{autService.user()?.Persona![0].Documento}}</li>
          <li class="text-[#0891B2]  text-[0.9rem] font-bold">{{ autService.user()?.Personal?.[0]?.Tipo_Cargo_Detalle ?? '' }}</li>
          <!-- <li class="text-[#00C284] font-bold"></li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="w-1/4">
    <figure class="relative flex items-center justify-center">
      <img class="w-7 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" src="cirsub.png" alt="">
      <svg  xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24"><path fill="#0891B2" d="M13 21v-2h2v2zm-2-2v-5h2v5zm8-3v-4h2v4zm-2-4v-2h2v2zM5 14v-2h2v2zm-2-2v-2h2v2zm9-7V3h2v2zM4.5 7.5h3v-3h-3zM3 9V3h6v6zm1.5 10.5h3v-3h-3zM3 21v-6h6v6zM16.5 7.5h3v-3h-3zM15 9V3h6v6zm2 12v-3h-2v-2h4v3h2v2zm-4-7v-2h4v2zm-4 0v-2H7v-2h6v2h-2v2zm1-5V5h2v2h2v2zM5.25 6.75v-1.5h1.5v1.5zm0 12v-1.5h1.5v1.5zm12-12v-1.5h1.5v1.5z"/></svg>

    </figure>
  </div>
</div>
