<div class="flex justify-between items-center w-full rounded-2xl overflow-hidden">
  <svg id="svg" viewBox="0 0 1440 490" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><defs><linearGradient id="gradient" x1="100%" x2="0%"><stop offset="5%" stop-color="#00b8da"></stop><stop offset="95%" stop-color="#00c951"></stop></linearGradient></defs><path d="M 0,500 L 0,187 C 111.60000000000002,150.73333333333335 223.20000000000005,114.46666666666667 395,116 C 566.8,117.53333333333333 798.8,156.86666666666665 983,175 C 1167.2,193.13333333333335 1303.6,190.06666666666666 1440,187 L 1440,500 L 0,500 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 250)"></path></svg>
</div>
<div class=" w-full absolute top-0 flex justify-between items-start">
  <div>
    <figure class="pt-2 pl-2">
      <div tabindex="0" role="button" class="w-14 h-14 btn btn-ghost btn-circle avatar">
        <div class=" rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="/cirsub.png" />
        </div>
      </div>
    </figure>
  </div>
  <div class="pr-3 pt-4">
    <p class="text-white text-right text-[0.6rem] font-medium md:text-lg md:font-semibold">MUTUAL CIRCULO DE SUBOFICIALES DE <br> GENDARMERIA NACIONAL ARGENTINA</p>
  </div>
</div>


