/* Tailwind + DaisyUI */
@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default, winter --prefersdark, cupcake, dracula;
}

/* (opcional) reset */
* { box-sizing: border-box; }

/* 1) keyframes: fuera del @layer */
@keyframes zoomBeyondSmooth {
  0%   { transform: scale(1);  opacity: 1; }
  40%  { transform: scale(3);  opacity: 1; }
  70%  { transform: scale(6);  opacity: 1; }
  85%  { transform: scale(8);  opacity: .9; }
  100% { transform: scale(10); opacity: 0; }
}

/* 2) utilidad: dentro de UN solo @layer */
@layer utilities {
  .animate-zoom-beyond-smooth {
    animation: zoomBeyondSmooth 1.8s cubic-bezier(0.19,1,0.22,1) forwards;
    will-change: transform, opacity;
  }
}

.toast-white .p-toast-message,
.toast-white .p-toast-message-info,
.toast-white .p-toast-message-success,
.toast-white .p-toast-message-warn
{
  background-color: #fff !important;  /* texto oscuro para contraste */
  border: 1px solid rgba(0,0,0,.08);
  box-shadow: 0 8px 24px rgba(0,0,0,.12);
  color: #00BBCF
}

/* Opcional: quitar/ajustar la barra lateral de severidad */
.toast-white .p-toast-message {
  border-left: 8px solid #00BBCF;   /* o 'none' si no la querés */
}

/* Icono de cerrar y de severidad */
.toast-white .p-toast-icon-close { color: #111; opacity: .6; }
.toast-white .p-toast-icon-close:hover { opacity: 1; }
/* color del ícono a gusto (puedes diferenciar por severidad si quieres) */
.toast-white .p-toast-message .p-toast-message-icon { color: #00C579; }

.toast-white .p-toast-message-success .p-toast-detail {
  color:#00C579
}

.toast-error .p-toast-message-error {
  background-color: rgba(250, 7, 7, 0.5) !important;
  color: #ffff
}

.toast-error .p-toast-message-error .p-toast-detail {
  color: #ffff
}
